<a href="https://colab.research.google.com/github/monash-tp37-project/iteration_1_model/blob/master/news_class_model_gpt3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classify missinformation useing OPENAI GPT3

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
!pip3 install openai

Requirement already satisfied: openai in /usr/local/lib/python3.7/dist-packages (0.18.1)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.7/dist-packages (from openai) (1.2.0.58)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandas-stubs>=1.1.0.11->openai) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)

In [48]:
import os
import openai
import uuid
import pandas as pd

In [46]:
current_dir = os.getcwd()
current_dir

'/content'

In [57]:
SQL_Query = pd.read_csv(f'{current_dir }/drive/MyDrive/colab_data/processed_news_data.csv')
SQL_Query.drop(columns='Unnamed: 0',inplace=True)

In [58]:
SQL_Query[SQL_Query['label'] == 1]

Empty DataFrame
Columns: [news_id, text, label]
Index: []

In [110]:
train_df = SQL_Query.sample(n=65, random_state = 2)

In [56]:
train_df[train_df['label']== 1]

Empty DataFrame
Columns: [news_id, text, label]
Index: []

In [111]:
text_list = train_df.text.to_list()
label_list = train_df.label.to_list()

In [83]:
text_list[0][:120]

'brief china life insurance increases shares agbank hkex filing feb reuters hong kong stock exchange filing china life in'

In [112]:
for i in range(0,len(text_list)):

  print(f"gpt3_tweet.add_example(Example('{text_list[i][:100]}','{label_list[i]}'))")

gpt3_tweet.add_example(Example('brief china life insurance increases shares agbank hkex filing feb reuters hong kong stock exchange ','0'))
gpt3_tweet.add_example(Example('pimco total return fund posts mln outflows march new york april reuters pacific investment managemen','0'))
gpt3_tweet.add_example(Example('ovechkin scores caps rip leafs outdoor win editorsnote revises eighth paragraph alex ovechkin scored','0'))
gpt3_tweet.add_example(Example('ukrainian gay couple hope danish wedding change mindsets home kiev reuters kiev celebrates pride sun','0'))
gpt3_tweet.add_example(Example('blood bone marrow therapies grab spotlight world cancer meeting chicago reuters promising new data b','0'))
gpt3_tweet.add_example(Example('lakers halt skid track win trail blazers editorsnote graf clarifies davis hit pointer lebron james s','0'))
gpt3_tweet.add_example(Example('bloomberg seek tighter financial industry regulations new york times washington feb reuters democrat','0'))
gpt3_tweet.add_example(Example('china cosco makes improved million bid greece largest port athens reuters greece received improved b','0'))
gpt3_tweet.add_example(Example('books banned school library student opinion think books friends mature read books contain sexual vio','0'))
gpt3_tweet.add_example(Example('brief exxonmobil starts production hebron field nov reuters exxon mobil corp project expects produce','0'))
gpt3_tweet.add_example(Example('brief gomax electronics pay dividend sep july reuters gomax electronics says pay cash dividend share','0'))
gpt3_tweet.add_example(Example('goodyear sales miss lower shipments americas reuters goodyear tire rubber reported lower expected qu','0'))
gpt3_tweet.add_example(Example('brother florida school shooting suspect pleads contest trespass reuters brother suspected high schoo','0'))
gpt3_tweet.add_example(Example('brooklyn nets playerwatch willie reed exited second quarter saturday night hyperextended right knee ','0'))
gpt3_tweet.add_example(Example('brief circuit stays mountain valley pipeline wildlife permits court appeals sided environmental grou','0'))
gpt3_tweet.add_example(Example('update stocks factors watch dec adds company news items futures dec reuters britain ftse index seen ','0'))
gpt3_tweet.add_example(Example('opinion biden best bleeping week gonna hear lot joementum opinion columnist memo joe hey things goin','0'))
gpt3_tweet.add_example(Example('astrazeneca combo cancer treatment fails meet late stage study main goal march reuters astrazeneca p','0'))
gpt3_tweet.add_example(Example('pioneering director lina wertmuller quad cinema going foreign film manhattan chances good lina wertm','0'))
gpt3_tweet.add_example(Example('wartime tragedy resurfaces berlinale refugee study berlin reuters decades silver bear prize pioneeri','0'))
gpt3_tweet.add_example(Example('brief cci approves acquisition majority equity stake intel security business tpg group feb reuters c','0'))
gpt3_tweet.add_example(Example('german french share indexes start weaker note london jan reuters germany dax france cac share indexe','0'))
gpt3_tweet.add_example(Example('professor remake tunisian politics tunis reuters retired law professor awkward public manner little ','0'))
gpt3_tweet.add_example(Example('australia central bank confident upbeat labour data sydney march reuters australia central bank conf','0'))
gpt3_tweet.add_example(Example('brief cray says cray advanced supercomputer assist samsung research artificial intelligence deep lea','0'))
gpt3_tweet.add_example(Example('germany unlikely diesel subsidy state premier duesseldorf reuters meeting german political leaders c','0'))
gpt3_tweet.add_example(Example('brief daiichi sankyo puma biotechnology collaborate major cancer center mutated cancer dec reuters d','0'))
gpt3_tweet.add_example(Example('erdogan says turkey resume syria offensive truce deal falters ankara reuters president tayyip erdoga','0'))
gpt3_tweet.add_example(Example('abu dhabi mubadala launch million european tech fund abu dhabi june reuters abu dhabi mubadala inves','0'))
gpt3_tweet.add_example(Example('china stocks claw ground plunge regulators cbank step csi drops pct open csrc pboc intervene restore','0'))
gpt3_tweet.add_example(Example('brief banksysteme says earnings raised eur sept reuters banksysteme says ebitda eur million net resu','0'))
gpt3_tweet.add_example(Example('sports direct buy struggling video gaming retailer game digital reuters mike ashley sports direct in','0'))
gpt3_tweet.add_example(Example('factbox deutsche bank years twists turns frankfurt reuters deutsche bank appointed german retail ban','0'))
gpt3_tweet.add_example(Example('julianne hough wedding dress photos fairytale wedding complete fairytale dress julianne hough worn h','0'))
gpt3_tweet.add_example(Example('paul theroux egg tested nonstick frying pan close hand pupukea hawaii step making omelet catch chick','0'))
gpt3_tweet.add_example(Example('brazil finance minister says spending freezes decided brasilia march reuters brazil finance minister','0'))
gpt3_tweet.add_example(Example('christina aguilera says hillary clinton supports girls ellen christina aguilera says hillary clinton','0'))
gpt3_tweet.add_example(Example('mexico chicharito javier hernández joins los angeles galaxy striker enter league highest paid player','0'))
gpt3_tweet.add_example(Example('add currency symbols text android tech tip need special keyboard euro symbol android standard keyboa','0'))
gpt3_tweet.add_example(Example('senate trump russia probe close ending democrat washington reuters senate intelligence committee pro','0'))
gpt3_tweet.add_example(Example('factbox laws catalan self determination madrid catalan regional leader carles puigdemont planned tue','0'))
gpt3_tweet.add_example(Example('brazil congress approves big budget gap win interim president brasilia reuters brazil government con','0'))
gpt3_tweet.add_example(Example('ariana grande honors mac miller anniversary way years ariana grande released hit way celebrating ann','0'))
gpt3_tweet.add_example(Example('italy arrests asylum seeker inciting terrorism rome reuters italy monday arrested year old iraqi asy','0'))
gpt3_tweet.add_example(Example('spanish stocks factors watch monday following spanish stocks affected newspaper reports factors mond','0'))
gpt3_tweet.add_example(Example('brief aqua america reports percent cash dividend increase aug reuters aqua america aqua america decl','0'))
gpt3_tweet.add_example(Example('new zealand nzx partners nasdaq push listings wellington reuters nzx nzx signed deal exchange nasdaq','0'))
gpt3_tweet.add_example(Example('man finds biological parents thought died years ago life kirk kellerhals struggled identity year old','0'))
gpt3_tweet.add_example(Example('korea slams joe biden criticising leader kim jong seoul reuters north korean state media slammed vic','0'))
gpt3_tweet.add_example(Example('figure skating warm ups cement confidence cause chaos gangneung south korea figure skating group war','0'))
gpt3_tweet.add_example(Example('brexit delay hit economy boe broadbent london reuters britain economy risks damage brexit delayed la','0'))
gpt3_tweet.add_example(Example('opinion marijuana legal listen subscribe podcast mobile device apple podcasts radiopublic stitcher s','0'))
gpt3_tweet.add_example(Example('takeaways times investigation hackers hire proliferation digital spying tools recent years helped ge','0'))
gpt3_tweet.add_example(Example('best baked apples cook good morning dorie greenspan picture mother cashmere wrap coat cocktail dress','0'))
gpt3_tweet.add_example(Example('venezuela expels envoys response sanctions caracas reuters president nicolas maduro tuesday ordered ','0'))
gpt3_tweet.add_example(Example('china launches small reactor project push nuclear dominance shanghai reuters china started building ','0'))
gpt3_tweet.add_example(Example('brief sandstorm gold says sold attributable gold equivalent ounces april reuters sandstorm gold sand','0'))
gpt3_tweet.add_example(Example('bank england carney calls deal bank rules brexit london reuters bank england governor mark carney ca','0'))
gpt3_tweet.add_example(Example('places year places issue popular travel section complicated print product course lush wish photograp','0'))
gpt3_tweet.add_example(Example('raise age limit vaping trump says ahead action week washington reuters united states plans raise age','0'))
gpt3_tweet.add_example(Example('brief metlife began restructuring derivative hedges reuters metlife metlife began restructuring deri','0'))
gpt3_tweet.add_example(Example('trump talks automakers pushes new american plants washington reuters president donald trump urged ch','0'))
gpt3_tweet.add_example(Example('opinion original southerners lowery lumbee indian chapel hill people clamoring remove confederate mo','0'))
gpt3_tweet.add_example(Example('airbus remains boeing orders paris reuters airbus air sold aircraft remained rival boeing race order','0'))
gpt3_tweet.add_example(Example('brief mhp control pct starynska jan reuters mhp says use mhp shares held treasury control pct allc s','0'))

In [113]:
openai.api_key = "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"

In [114]:
class Example:

   # Stores an input, output pair and formats it to prime the model
   def __init__(self, input, output):
       self.input = input
       self.output = output
       self.id = uuid.uuid4().hex

   # To obtain the input provided for an example
   def get_input(self):
       return self.input

   # To obtain the output provided for an example
   def get_output(self):
       return self.output

   # To obtain the unique id of an example
   def get_id(self):
       return self.id

In [115]:
class GPT3:

   """
      Params engine: Model to be used. Options are Davinci, Babbage, Ada and Curie.
      temperature: Amount of randomness to be introduced in the predictions of the
      model Setting a higher value of temperature would be useful for creative 
      applications whereas a lower value will be suitable for well defined answers.
      max_tokens: Maximum length of number of tokens accepted by the prompt.
   """

   # initialises parameters and adds default values
   def __init__(self, engine='davinci', temperature=0.5, max_tokens=100,

       input_prefix="input: ", input_suffix="\n", output_prefix="output: ",
       output_suffix="\n\n", append_output_prefix_to_query=False):
       self.examples = {}
       self.engine = engine
       self.temperature = temperature
       self.max_tokens = max_tokens
       self.input_prefix = input_prefix
       self.input_suffix = input_suffix
       self.output_prefix = output_prefix
       self.output_suffix = output_suffix
       self.append_output_prefix_to_query = append_output_prefix_to_query
       self.stop = (output_suffix + input_prefix).strip()

   # Adds an example to the model object. Example is an instance of the Example class.
   def add_example(self, ex):
       assert isinstance(ex, Example), "Please create an Example object."
       self.examples[ex.get_id()] = ex

   # Converts all the examples to a particular format to prime the model.
   def get_prime_text(self):
       return "".join(
           [self.format_example(ex) for ex in self.examples.values()])

   # Creates a query for the API request
   def craft_query(self, prompt):
       q = self.get_prime_text(
       ) + self.input_prefix + prompt + self.input_suffix

       if self.append_output_prefix_to_query:
           q = q + self.output_prefix
       return q

   # Calls the API using the Completion endpoint with the specified values of the parameters
   def submit_request(self, prompt):
       response = openai.Completion.create(engine=self.engine,
                                           prompt=self.craft_query(prompt),
                                           max_tokens=self.max_tokens,
                                           temperature=self.temperature,
                                           top_p=1,
                                           n=1,
                                           stream=False,
                                           stop=self.stop)
       return response

   # Formats the input output pair with appropriate prefixes and suffixes
   def format_example(self, ex):
       return self.input_prefix + ex.get_input(
       ) + self.input_suffix + self.output_prefix + ex.get_output(
       ) + self.output_suffix

In [116]:
# Creates an object of the GPT3 class

gpt3_tweet = GPT3(engine="davinci",
         temperature=0.3,
         max_tokens=60)

In [117]:
gpt3_tweet.add_example(Example('brief china life insurance increases shares agbank hkex filing feb reuters hong kong stock exchange ','0'))
gpt3_tweet.add_example(Example('pimco total return fund posts mln outflows march new york april reuters pacific investment managemen','0'))
gpt3_tweet.add_example(Example('ovechkin scores caps rip leafs outdoor win editorsnote revises eighth paragraph alex ovechkin scored','0'))
gpt3_tweet.add_example(Example('ukrainian gay couple hope danish wedding change mindsets home kiev reuters kiev celebrates pride sun','0'))
gpt3_tweet.add_example(Example('blood bone marrow therapies grab spotlight world cancer meeting chicago reuters promising new data b','0'))
gpt3_tweet.add_example(Example('lakers halt skid track win trail blazers editorsnote graf clarifies davis hit pointer lebron james s','0'))
gpt3_tweet.add_example(Example('bloomberg seek tighter financial industry regulations new york times washington feb reuters democrat','0'))
gpt3_tweet.add_example(Example('china cosco makes improved million bid greece largest port athens reuters greece received improved b','0'))
gpt3_tweet.add_example(Example('books banned school library student opinion think books friends mature read books contain sexual vio','0'))
gpt3_tweet.add_example(Example('brief exxonmobil starts production hebron field nov reuters exxon mobil corp project expects produce','0'))
gpt3_tweet.add_example(Example('brief gomax electronics pay dividend sep july reuters gomax electronics says pay cash dividend share','0'))
gpt3_tweet.add_example(Example('goodyear sales miss lower shipments americas reuters goodyear tire rubber reported lower expected qu','0'))
gpt3_tweet.add_example(Example('brother florida school shooting suspect pleads contest trespass reuters brother suspected high schoo','0'))
gpt3_tweet.add_example(Example('brooklyn nets playerwatch willie reed exited second quarter saturday night hyperextended right knee ','0'))
gpt3_tweet.add_example(Example('brief circuit stays mountain valley pipeline wildlife permits court appeals sided environmental grou','0'))
gpt3_tweet.add_example(Example('update stocks factors watch dec adds company news items futures dec reuters britain ftse index seen ','0'))
gpt3_tweet.add_example(Example('opinion biden best bleeping week gonna hear lot joementum opinion columnist memo joe hey things goin','0'))
gpt3_tweet.add_example(Example('astrazeneca combo cancer treatment fails meet late stage study main goal march reuters astrazeneca p','0'))
gpt3_tweet.add_example(Example('pioneering director lina wertmuller quad cinema going foreign film manhattan chances good lina wertm','0'))
gpt3_tweet.add_example(Example('wartime tragedy resurfaces berlinale refugee study berlin reuters decades silver bear prize pioneeri','0'))
gpt3_tweet.add_example(Example('brief cci approves acquisition majority equity stake intel security business tpg group feb reuters c','0'))
gpt3_tweet.add_example(Example('german french share indexes start weaker note london jan reuters germany dax france cac share indexe','0'))
gpt3_tweet.add_example(Example('professor remake tunisian politics tunis reuters retired law professor awkward public manner little ','0'))
gpt3_tweet.add_example(Example('australia central bank confident upbeat labour data sydney march reuters australia central bank conf','0'))
gpt3_tweet.add_example(Example('brief cray says cray advanced supercomputer assist samsung research artificial intelligence deep lea','0'))
gpt3_tweet.add_example(Example('germany unlikely diesel subsidy state premier duesseldorf reuters meeting german political leaders c','0'))
gpt3_tweet.add_example(Example('brief daiichi sankyo puma biotechnology collaborate major cancer center mutated cancer dec reuters d','0'))
gpt3_tweet.add_example(Example('erdogan says turkey resume syria offensive truce deal falters ankara reuters president tayyip erdoga','0'))
gpt3_tweet.add_example(Example('abu dhabi mubadala launch million european tech fund abu dhabi june reuters abu dhabi mubadala inves','0'))
gpt3_tweet.add_example(Example('china stocks claw ground plunge regulators cbank step csi drops pct open csrc pboc intervene restore','0'))
gpt3_tweet.add_example(Example('brief banksysteme says earnings raised eur sept reuters banksysteme says ebitda eur million net resu','0'))
gpt3_tweet.add_example(Example('sports direct buy struggling video gaming retailer game digital reuters mike ashley sports direct in','0'))
gpt3_tweet.add_example(Example('factbox deutsche bank years twists turns frankfurt reuters deutsche bank appointed german retail ban','0'))
gpt3_tweet.add_example(Example('julianne hough wedding dress photos fairytale wedding complete fairytale dress julianne hough worn h','0'))
gpt3_tweet.add_example(Example('paul theroux egg tested nonstick frying pan close hand pupukea hawaii step making omelet catch chick','0'))
gpt3_tweet.add_example(Example('brazil finance minister says spending freezes decided brasilia march reuters brazil finance minister','0'))
gpt3_tweet.add_example(Example('christina aguilera says hillary clinton supports girls ellen christina aguilera says hillary clinton','0'))
gpt3_tweet.add_example(Example('mexico chicharito javier hernández joins los angeles galaxy striker enter league highest paid player','0'))
gpt3_tweet.add_example(Example('add currency symbols text android tech tip need special keyboard euro symbol android standard keyboa','0'))
gpt3_tweet.add_example(Example('senate trump russia probe close ending democrat washington reuters senate intelligence committee pro','0'))
gpt3_tweet.add_example(Example('factbox laws catalan self determination madrid catalan regional leader carles puigdemont planned tue','0'))
gpt3_tweet.add_example(Example('brazil congress approves big budget gap win interim president brasilia reuters brazil government con','0'))
gpt3_tweet.add_example(Example('ariana grande honors mac miller anniversary way years ariana grande released hit way celebrating ann','0'))
gpt3_tweet.add_example(Example('italy arrests asylum seeker inciting terrorism rome reuters italy monday arrested year old iraqi asy','0'))
gpt3_tweet.add_example(Example('spanish stocks factors watch monday following spanish stocks affected newspaper reports factors mond','0'))
gpt3_tweet.add_example(Example('brief aqua america reports percent cash dividend increase aug reuters aqua america aqua america decl','0'))
gpt3_tweet.add_example(Example('new zealand nzx partners nasdaq push listings wellington reuters nzx nzx signed deal exchange nasdaq','0'))
gpt3_tweet.add_example(Example('man finds biological parents thought died years ago life kirk kellerhals struggled identity year old','0'))
gpt3_tweet.add_example(Example('korea slams joe biden criticising leader kim jong seoul reuters north korean state media slammed vic','0'))
gpt3_tweet.add_example(Example('figure skating warm ups cement confidence cause chaos gangneung south korea figure skating group war','0'))
gpt3_tweet.add_example(Example('brexit delay hit economy boe broadbent london reuters britain economy risks damage brexit delayed la','0'))
gpt3_tweet.add_example(Example('opinion marijuana legal listen subscribe podcast mobile device apple podcasts radiopublic stitcher s','0'))
gpt3_tweet.add_example(Example('takeaways times investigation hackers hire proliferation digital spying tools recent years helped ge','0'))
gpt3_tweet.add_example(Example('best baked apples cook good morning dorie greenspan picture mother cashmere wrap coat cocktail dress','0'))
gpt3_tweet.add_example(Example('venezuela expels envoys response sanctions caracas reuters president nicolas maduro tuesday ordered ','0'))
gpt3_tweet.add_example(Example('china launches small reactor project push nuclear dominance shanghai reuters china started building ','0'))
gpt3_tweet.add_example(Example('brief sandstorm gold says sold attributable gold equivalent ounces april reuters sandstorm gold sand','0'))
gpt3_tweet.add_example(Example('bank england carney calls deal bank rules brexit london reuters bank england governor mark carney ca','0'))
gpt3_tweet.add_example(Example('places year places issue popular travel section complicated print product course lush wish photograp','0'))
gpt3_tweet.add_example(Example('raise age limit vaping trump says ahead action week washington reuters united states plans raise age','0'))
gpt3_tweet.add_example(Example('brief metlife began restructuring derivative hedges reuters metlife metlife began restructuring deri','0'))
gpt3_tweet.add_example(Example('trump talks automakers pushes new american plants washington reuters president donald trump urged ch','0'))
gpt3_tweet.add_example(Example('opinion original southerners lowery lumbee indian chapel hill people clamoring remove confederate mo','0'))
gpt3_tweet.add_example(Example('airbus remains boeing orders paris reuters airbus air sold aircraft remained rival boeing race order','0'))
gpt3_tweet.add_example(Example('brief mhp control pct starynska jan reuters mhp says use mhp shares held treasury control pct allc s','0'))

In [118]:
prompt = 'I love marvel movies!'
output = gpt3_tweet.submit_request(prompt)
output.choices[0].text

'\noutput: 0\n\n'