# News Classification Model using Keras

In [1]:
# install all packages needed

#!pip3 install sklearn --upgrade
#!pip3 install pickle --update
!pip3 install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [2]:
# import all libraries needed

import pandas as pd
from pandas import read_csv
import os
import spacy
import numpy as np
import matplotlib.pyplot as plt

# nltk used for parsing and cleaning text
import nltk
import unicodedata
import string
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.probability import FreqDist
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from difflib import SequenceMatcher
from scipy import spatial
from itertools import combinations

# used to acccess the sql database
import pymysql
# library that helps turn dataframes into sql tables
from sqlalchemy import create_engine


import sklearn as sk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, confusion_matrix, matthews_corrcoef
from sklearn.linear_model import LogisticRegression

import pickle

## for deep learning
import tensorflow as tf
from tensorflow.keras.preprocessing.text import one_hot, Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Embedding, Input, LSTM, Conv1D, MaxPool1D, Bidirectional
from tensorflow.keras.models import Model
from tensorflow.keras import models, layers, preprocessing as kprocessing
from tensorflow.keras import backend as K

import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
current_dir = os.getcwd()
current_dir

'/content'

In [4]:
# create connection
connection = pymysql.connect(host='news-data-rdb.cqsnaejqwcpu.ap-southeast-2.rds.amazonaws.com',
                             user='admin',
                             password='badpassword1',
                             db='news_data')

In [5]:
# SQL query to retreive our data for the model
SQL_Query = pd.read_sql_query(
        '''
        select
        *
        from new_table
        ''', connection)

In [6]:
SQL_Query

        news_id                                               text  label
0             0  house aide comey letter jason chaffetz tweeted...      1
1             1  flynn hillary clinton woman campus breitbart f...      0
2             2  truth fired truth fired october tension intell...      1
3             3  civilians killed single airstrike identified v...      1
4             4  iranian woman jailed fictional unpublished sto...      1
...         ...                                                ...    ...
941403   941403  buzzfeed year awkward convo dude texting trump...      1
941404   941404  littlebytesnews tcot news variety facebook too...      1
941405   941405  signsinyork getting right company logo busines...      1
941406   941406  latest obama affirms continuity ties canada ht...      1
941407   941407  futureguru upload online thats product work go...      1

[941408 rows x 3 columns]

In [7]:
# save the data rereived in a query as a pandas dataframe
#news_sql_df = pd.DataFrame(SQL_Query, columns=['news_id', 'text', 'label'])

In [8]:
news_sql_df = SQL_Query[0:10000]
news_sql_df

      news_id                                               text  label
0           0  house aide comey letter jason chaffetz tweeted...      1
1           1  flynn hillary clinton woman campus breitbart f...      0
2           2  truth fired truth fired october tension intell...      1
3           3  civilians killed single airstrike identified v...      1
4           4  iranian woman jailed fictional unpublished sto...      1
...       ...                                                ...    ...
9995     9995  trump announces massive expansion plans nasa t...      1
9996     9996  latest pipeline leak underscores dangers dakot...      1
9997     9997  duterte america interesting review recipient r...      1
9998     9998  harley quinn nice loving psycho door york time...      0
9999     9999  donald trump hints fund race york times vegas ...      0

[10000 rows x 3 columns]

In [9]:
# Obtain the total words present in the dataset
list_of_words = []
for i in news_sql_df.text:
  words = i.split(' ')
  for j in words:
      list_of_words.append(j)

In [10]:
# Obtain the total number of unique words
total_words = len(list(set(list_of_words)))
total_words

87330

In [20]:
# split data into test and train 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(news_sql_df.text.to_list(), news_sql_df.label.to_list(), test_size = 0.1)

In [17]:
vectorizer = TfidfVectorizer(analyzer = 'word',
                            input = 'content',
                            lowercase = True,
                            token_pattern = '(?u)\\b\\w\\w+\\b',
                            min_df = 3,
                            ngram_range = (1,3))

In [ ]:
# turn binary labels intp a numpy array
#y_train = np.asarray(y_train)

In [21]:
type(x_train)

list

In [22]:
vectorizer.fit(x_train)
vectorizer.transform(x_train)

x_train = vectorizer.transform(x_train).toarray() #shape - (3,6)
x_train = x_train[:, :, None] #shape - (3,6,1) since LSTM cells expects ndims = 3

## Model

In [23]:
# Sequential Model
model = Sequential()

# embeddidng layer to do PCA 
# total_words = defined the total number of vocabs 
model.add(Embedding(total_words, output_dim = 240))


# Bi-Directional RNN and LSTM
model.add(Bidirectional(LSTM(240)))

# Dense layers
model.add(Dense(240, activation = 'relu'))
model.add(Dense(1, activation= 'sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 240)         20959200

 bidirectional (Bidirectiona  (None, 480)              923520
 l)

 dense (Dense)               (None, 240)               115440

 dense_1 (Dense)             (None, 1)                 241

=================================================================
Total params: 21,998,401
Trainable params: 21,998,401
Non-trainable params: 0
_________________________________________________________________

In [24]:
# train the model
#  validation_split = 0.1, use 10% of the data for cross validation
model.fit(x_train, y_train, batch_size = 64, epochs = 10)

ValueError: ignored

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

X = ["Good morning", "Sweet Dreams", "Stay Awake"]
Y = ["Good morning", "Sweet Dreams", "Stay Awake"]

vectorizer = TfidfVectorizer().fit(X)

tfidf_vector_X = vectorizer.transform(X).toarray()  #//shape - (3,6)
tfidf_vector_Y = vectorizer.transform(Y).toarray() #//shape - (3,6)
tfidf_vector_X = tfidf_vector_X[:, :, None] #//shape - (3,6,1) 
tfidf_vector_Y = tfidf_vector_Y[:, :, None] #//shape - (3,6,1)

X_train, X_test, y_train, y_test = train_test_split(tfidf_vector_X, tfidf_vector_Y, test_size = 0.2, random_state = 1)

from keras import Sequential
from keras.layers import LSTM

model = Sequential()
model.add(LSTM(units=6, input_shape = X_train.shape[1:], return_sequences = True))
model.add(LSTM(units=6, return_sequences=True))
model.add(LSTM(units=6, return_sequences=True))
model.add(LSTM(units=1, return_sequences=True, name='output'))
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics = ['accuracy'])

print(model.summary())

model.fit(X_train, y_train, epochs=1, verbose=1)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 6, 6)              192

 lstm_5 (LSTM)               (None, 6, 6)              312

 lstm_6 (LSTM)               (None, 6, 6)              312

 output (LSTM)               (None, 6, 1)              32

=================================================================
Total params: 848
Trainable params: 848
Non-trainable params: 0
_________________________________________________________________
None
1/1 [==============================] - 10s 10s/step - loss: 3.6357 - accuracy: 0.6667

In [ ]:
# make prediction
pred = model.predict(x_test)

In [ ]:
# if the predicted value is >0.5 it is real else it is fake
prediction = []
for i in range(len(pred)):
    if pred[i].item() > 0.5:
        prediction.append(1)
    else:
        prediction.append(0)

In [ ]:
# getting the accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(list(y_test), prediction)

print("Model Accuracy : ", accuracy)