## Wrangle News Data

Wrangling Script which reads in all the combined. In the last step we write the data to an SQL database.

In [ ]:
# install all packages needed

#!pip install gensim
#!pip3 install sklearn --upgrade
#!pip3 install pickle --update
#!pip3 install langid
#!pip3 install nltk
#!pip3 install pymysql

In [1]:
import pandas as pd
from pandas import read_csv
import os
import matplotlib.pyplot as plt
import langid
import numpy as np


# nltk used for parsing and cleaning text
from scipy import stats
import unicodedata
import string
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
import nltk
import re
nltk.download('punkt')
nltk.download('stopwords')
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS


# used to acccess the sql database

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/arminberger/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/arminberger/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
# get name of current directory
current_dir = os.getcwd()
current_dir

'/Users/arminberger/Documents/GitHub/iteration_1_model'

In [ ]:
all_labeled_data = pd.read_csv(f'{current_dir }/all_labeled_data_unprocessed.csv', low_memory=False)

In [ ]:
all_labeled_data.info()

In [ ]:
# function which checks if text is not in english
def text_is_english(text):
    
    try:
    
        if isinstance(text, object):

            if langid.classify(text)[0]!='en':

                return False

            else:

                return True

        else:

            return False
    except:
        
        return False

In [ ]:
%%time
# check if tweet is not in english, if true then add to list of indices to drop
all_labeled_data['bool_true'] = all_labeled_data.all_text.apply(lambda x: text_is_english(x))

# get a list of all indicese that need to be dropped
drop_index = all_labeled_data.index[all_labeled_data.bool_true == False].to_list()

# drop the indicese 
all_labeled_data.drop(drop_index, inplace = True)

# drop the last column
all_labeled_data.drop(columns = 'bool_true', inplace = True)

In [ ]:
all_labeled_data_eng = all_labeled_data

In [ ]:
all_labeled_data_eng.reset_index(drop=True, inplace=True)
all_labeled_data_eng.drop(columns = 'Unnamed: 0', inplace = True)

In [ ]:
all_labeled_data_eng.info()

In [ ]:
all_labeled_data_eng

In [ ]:
all_labeled_data_eng.to_csv('all_labeled_data_eng.csv')

In [ ]:
all_labeled_data_eng = pd.read_csv(f'{current_dir }/all_labeled_data_eng.csv')

In [ ]:
# save list of all stopwords
english_stop_words = stopwords.words('english')

In [ ]:
# Remove stopwords and remove words with 2 or less characters
def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3 and token not in english_stop_words:
            result.append(token)
            
    return result

In [ ]:
%%time
# Apply the function to the dataframe
all_labeled_data_eng['clean_all_text'] = all_labeled_data_eng['all_text'].apply(preprocess)

In [ ]:
all_labeled_data_eng

In [ ]:
all_labeled_data_eng['clean_all_text_join'] = [' '.join(x) for x in all_labeled_data_eng['clean_all_text'].to_list()]

In [ ]:
all_labeled_data_eng['bool_true'] = all_labeled_data_eng.apply(lambda row: True if (len(row['clean_all_text']) < 5 or len(row['clean_all_text']) > 3000) else False , axis=1)

In [ ]:
# get a list of all indicese that need to be dropped
drop_index = all_labeled_data_eng.index[all_labeled_data_eng.bool_true == True].to_list()

# drop the indicese 
all_labeled_data_eng.drop(drop_index, inplace = True)

all_labeled_data_eng.reset_index(drop=True, inplace=True)

# drop the last column
all_labeled_data_eng.drop(columns = 'bool_true', inplace = True)

In [ ]:
# drop the last column
all_labeled_data_eng.drop(columns = 'Unnamed: 0', inplace = True)

In [ ]:
all_labeled_data_eng

In [ ]:
all_labeled_data_eng[all_labeled_data_eng['label'] == 0]['clean_all_text']

In [ ]:
len_articles = [len(x) for x in all_labeled_data_eng['clean_all_text'].to_list()]

In [ ]:
stats.describe(len_articles)

In [ ]:
stats.mode(len_articles)

In [ ]:
plt.hist(len_articles, 50, density=True, facecolor='blue')
plt.xlabel('number of words')
plt.title('Histogram of text length')
plt.grid(True)
plt.show()

In [ ]:
# plot the number of samples in 'subject'
plt.figure(figsize = (10, 8))
sns.countplot(y = "label", data = all_labeled_data_eng)
plt.show()

In [ ]:
all_labeled_data_eng['label'] = all_labeled_data_eng['label'].apply(lambda row: int(row))

In [ ]:
all_labeled_data_eng

In [ ]:
news_ids = [x for x in range(0,all_labeled_data_eng.shape[0])]

text_data = all_labeled_data_eng['clean_all_text_join'].to_list()

label_data =  all_labeled_data_eng.label.to_list()

data_dict = {'news_id': news_ids, 'text': text_data, 'label': label_data}

In [ ]:
processed_news_data = pd.DataFrame(data_dict)

In [ ]:
processed_news_data.to_csv('processed_news_data.csv')

In [51]:
processed_news_data = pd.read_csv(f'{current_dir }/processed_news_data.csv')
processed_news_data.drop(columns='Unnamed: 0',inplace=True)

In [64]:
processed_news_data

        news_id                                               text  label
0             0  house aide comey letter jason chaffetz tweeted...      1
1             1  flynn hillary clinton woman campus breitbart f...      0
2             2  truth fired truth fired october tension intell...      1
3             3  civilians killed single airstrike identified v...      1
4             4  iranian woman jailed fictional unpublished sto...      1
...         ...                                                ...    ...
941403   941403  buzzfeed year awkward convo dude texting trump...      1
941404   941404  littlebytesnews tcot news variety facebook too...      1
941405   941405  signsinyork getting right company logo busines...      1
941406   941406  latest obama affirms continuity ties canada ht...      1
941407   941407  futureguru upload online thats product work go...      1

[941408 rows x 3 columns]

In [90]:
import pymysql
import sqlite3

In [91]:
db = pymysql.connect(host='news-data-rdb.cqsnaejqwcpu.ap-southeast-2.rds.amazonaws.com',user='admin',password='badpassword1')

In [92]:
cursor = db.cursor()

In [93]:
cursor.execute('select version()')

1

In [94]:
data = cursor.fetchone()

In [95]:
data

('8.0.27',)

In [38]:
# create a databse
sql = '''DROP DATABASE news_data'''
cursor.execute(sql)

0

In [39]:
# create a databse
sql = '''CREATE DATABASE news_data'''
cursor.execute(sql)

1

In [40]:
cursor.connection.commit()

In [97]:
# create a databse
sql = '''USE news_data'''
cursor.execute(sql)

0

# create a databse
sql = '''
CREATE TABLE news_table (
news_id INT NOT NULL,
text MEDIUMTEXT NOT NULL,
label INT NOT NULL,
PRIMARY KEY (news_id)
)
'''
cursor.execute(sql)

In [98]:
sql = '''SHOW TABLES'''
cursor.execute(sql)
cursor.fetchall()

(('new_table',),)

In [88]:
SQL_Query = pd.read_sql_query(
        '''select
          *
          from news_table''', db)

DatabaseError: Execution failed on sql 'select
          *
          from news_table': (1146, "Table 'news_data.news_table' doesn't exist")

In [79]:
SQL_Query

Empty DataFrame
Columns: [news_id, text, label]
Index: []

In [102]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@news-data-rdb.cqsnaejqwcpu.ap-southeast-2.rds.amazonaws.com/{db}"
                       .format(user="admin",
                               pw="badpassword1",
                               db="news_data"))

In [118]:
processed_news_data

        news_id                                               text  label
0             0  house aide comey letter jason chaffetz tweeted...      1
1             1  flynn hillary clinton woman campus breitbart f...      0
2             2  truth fired truth fired october tension intell...      1
3             3  civilians killed single airstrike identified v...      1
4             4  iranian woman jailed fictional unpublished sto...      1
...         ...                                                ...    ...
941403   941403  buzzfeed year awkward convo dude texting trump...      1
941404   941404  littlebytesnews tcot news variety facebook too...      1
941405   941405  signsinyork getting right company logo busines...      1
941406   941406  latest obama affirms continuity ties canada ht...      1
941407   941407  futureguru upload online thats product work go...      1

[941408 rows x 3 columns]

In [119]:
processed_news_data.to_sql('new_table', con = engine, if_exists = 'replace', chunksize = 50000, index = False)

In [121]:
SQL_Query = pd.read_sql_query(
        '''SELECT
          COUNT(*)
          FROM new_table''', engine)

In [122]:
SQL_Query

   COUNT(*)
0    941408