# Combine and transpose News Data

Wrangling script which reads in the news data and processes it. We combine all datasets and do basic processing such as removing duplicates and nan values.

### Step 1. Read in the data

In [4]:
# install all packages needed

#!pip install gensim
#!pip3 install sklearn --upgrade
#!pip3 install pickle --update
#!pip3 install nltk

In [6]:
import pandas as pd
from pandas import read_csv
import os
import matplotlib.pyplot as plt
import langid
import numpy as np


# nltk used for parsing and cleaning text
import unicodedata
import string
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
import nltk
import re
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS


# used to acccess the sql database
import pymysql
# library that helps turn dataframes into sql tables
from sqlalchemy import create_engine


# import file which has all text pre processing functions
from text_pre_processing import *     # import classes and functions

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/arminberger/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/arminberger/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
# get name of current directory
current_dir = os.getcwd()
current_dir

'/Users/arminberger/Documents/GitHub/iteration_1_model'

### We will now read in data from multiple data sources

##### 1. Kaggle competition data - USED
https://www.kaggle.com/c/fake-news/data

Data overview:

train.csv: A full training dataset with the following attributes:

- id: unique id for a news article
- title: the title of a news article
- author: author of the news article
- text: the text of the article; could be incomplete
- label: a label that marks the article as potentially unreliable

1: unreliable
0: reliable

test.csv: A testing training dataset with all the same attributes at train.csv without the label.

submit.csv: A sample submission that you can

In [18]:
# read in all three data sets
train_kaggle_1 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_1_news_dataset/train.csv')

In [19]:
train_kaggle_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [20]:
train_kaggle_1['all_text'] = train_kaggle_1['title'] + ' ' + train_kaggle_1['text']

train_kaggle_1.drop(columns=['id', 'author', 'title', 'text'], inplace=True)

train_kaggle_1

       label                                           all_text
0          1  House Dem Aide: We Didn’t Even See Comey’s Let...
1          0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          1  Why the Truth Might Get You Fired Why the Trut...
3          1  15 Civilians Killed In Single US Airstrike Hav...
4          1  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795      0  Rapper T.I.: Trump a ’Poster Child For White S...
20796      0  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797      0  Macy’s Is Said to Receive Takeover Approach by...
20798      1  NATO, Russia To Hold Parallel Exercises In Bal...
20799      1  What Keeps the F-35 Alive   David Swanson is a...

[20800 rows x 2 columns]

In [21]:
train_kaggle_1.all_text.is_unique

False

In [22]:
train_kaggle_1.label.value_counts()

1    10413
0    10387
Name: label, dtype: int64

In [23]:
train_kaggle_1.drop_duplicates(inplace = True)

In [24]:
train_kaggle_1.shape

(20134, 2)

In [25]:
train_kaggle_1[train_kaggle_1['label'] == 0]

       label                                           all_text
1          0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
5          0  Jackie Mason: Hollywood Would Love Trump if He...
7          0  Benoît Hamon Wins French Socialist Party’s Pre...
8          0  Excerpts From a Draft Script for Donald Trump’...
9          0  A Back-Channel Plan for Ukraine and Russia, Co...
...      ...                                                ...
20792      0  Jakarta Bombing Kills Three Police Officers, L...
20794      0  Trump: Putin ’Very Smart’ to Not Retaliate ove...
20795      0  Rapper T.I.: Trump a ’Poster Child For White S...
20796      0  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797      0  Macy’s Is Said to Receive Takeover Approach by...

[10387 rows x 2 columns]

##### 2. University of Victoria news data - USED
https://www.kaggle.com/c/fake-news/data

In [26]:
# read in the fake an real news data

fake_data_vic = pd.read_csv(f'{current_dir }/data_fake_news/vic_uni_news _dataset/Fake.csv')

true_data_vic = pd.read_csv(f'{current_dir }/data_fake_news/vic_uni_news _dataset/True.csv')

In [27]:
true_data_vic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [28]:
fake_data_vic.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [29]:
fake_data_vic['label'] = 1
fake_data_vic['all_text'] = fake_data_vic['title'] + " " + fake_data_vic['text']

true_data_vic['label'] = 0
true_data_vic['all_text'] = true_data_vic['title'] + " " + true_data_vic['text']

In [30]:
fake_data_vic.drop(columns=['title','text','subject','date'],inplace=True)

true_data_vic.drop(columns=['title','text','subject','date'],inplace=True)

In [31]:
fake_data_vic.head()

   label                                           all_text
0      1   Donald Trump Sends Out Embarrassing New Year’...
1      1   Drunk Bragging Trump Staffer Started Russian ...
2      1   Sheriff David Clarke Becomes An Internet Joke...
3      1   Trump Is So Obsessed He Even Has Obama’s Name...
4      1   Pope Francis Just Called Out Donald Trump Dur...

In [32]:
true_data_vic.head()

   label                                           all_text
0      0  As U.S. budget fight looms, Republicans flip t...
1      0  U.S. military to accept transgender recruits o...
2      0  Senior U.S. Republican senator: 'Let Mr. Muell...
3      0  FBI Russia probe helped by Australian diplomat...
4      0  Trump wants Postal Service to charge 'much mor...

In [33]:
data_vic = pd.merge(fake_data_vic, true_data_vic,
                        how="outer")

In [34]:
data_vic

       label                                           all_text
0          1   Donald Trump Sends Out Embarrassing New Year’...
1          1   Drunk Bragging Trump Staffer Started Russian ...
2          1   Sheriff David Clarke Becomes An Internet Joke...
3          1   Trump Is So Obsessed He Even Has Obama’s Name...
4          1   Pope Francis Just Called Out Donald Trump Dur...
...      ...                                                ...
44893      0  'Fully committed' NATO backs new U.S. approach...
44894      0  LexisNexis withdrew two products from Chinese ...
44895      0  Minsk cultural hub becomes haven from authorit...
44896      0  Vatican upbeat on possibility of Pope Francis ...
44897      0  Indonesia to buy $1.14 billion worth of Russia...

[44898 rows x 2 columns]

In [35]:
data_vic = data_vic.sample(frac=1).reset_index(drop=True)
data_vic

       label                                           all_text
0          0  Contenders, picks for key jobs in Trump's admi...
1          1  Katy Perry, Christina Aguilera, Kim and Kanye,...
2          0  Waiting for May, Brussels eyes December Brexit...
3          1   Reporter Reveals Just How Frightening A Trump...
4          0  U.S.-backed SDF say attacked by Russian jets i...
...      ...                                                ...
44893      0  Saudi Arabia welcomes new U.S. strategy toward...
44894      0  Federal Reserve and Republican critics may com...
44895      1  CHARLES BARKLEY Says Anyone Who Criticizes Oba...
44896      0  Colombia protests what it says was Venezuelan ...
44897      1  “DRIVE THEM OUT OF YOUR PLACES OF WORSHIP!” Lo...

[44898 rows x 2 columns]

In [36]:
data_vic.all_text.is_unique

False

In [37]:
data_vic.drop_duplicates(inplace = True)
data_vic.reset_index(inplace=True,drop=True)

data_vic.shape

(39105, 2)

1: unreliable
0: reliable

##### 3. Kaggle 2 news data - USED
https://www.kaggle.com/datasets/mrisdal/fake-news

In [38]:
# read in the fake an real news data

fake_kaggle_2 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_2_news_dataset/fake.csv')

In [39]:
fake_kaggle_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12999 entries, 0 to 12998
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   uuid                12999 non-null  object
 1   ord_in_thread       12999 non-null  int64
 2   author              10575 non-null  object
 3   published           12999 non-null  object
 4   title               12319 non-null  object
 5   text                12953 non-null  object
 6   language            12999 non-null  object
 7   crawled             12999 non-null  object
 8   site_url            12999 non-null  object
 9   country             12823 non-null  object
 10  domain_rank         8776 non-null   float64
 11  thread_title        12987 non-null  object
 12  spam_score          12999 non-null  float64
 13  main_img_url        9356 non-null   object
 14  replies_count       12999 non-null  int64
 15  participants_count  12999 non-null  int64
 16  likes               12999 non-null  int64
 17  comments            12999 non-null  int64
 18  shares              12999 non-null  int64
 19  type                12999 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 2.0+ MB

In [40]:
fake_kaggle_2.head()

,uuid,ord_in_thread,author,published,title,text,language,crawled,site_url,country,domain_rank,thread_title,spam_score,main_img_url,replies_count,participants_count,likes,comments,shares,type
0,6a175f46bcd24d39b3e962ad0f29936721db70db,0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,english,2016-10-27T01:49:27.168+03:00,100percentfedup.com,US,25689.0,Muslims BUSTED: They Stole Millions In Gov’t B...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
1,2bdc29d12605ef9cf3f09f9875040a7113be5d5b,0,reasoning with facts,2016-10-29T08:47:11.259+03:00,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,english,2016-10-29T08:47:11.259+03:00,100percentfedup.com,US,25689.0,Re: Why Did Attorney General Loretta Lynch Ple...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
2,c70e149fdd53de5e61c29281100b9de0ed268bc3,0,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,english,2016-10-31T01:41:49.479+02:00,100percentfedup.com,US,25689.0,BREAKING: Weiner Cooperating With FBI On Hilla...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
3,7cf7c15731ac2a116dd7f629bd57ea468ed70284,0,Fed Up,2016-11-01T05:22:00.000+02:00,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,english,2016-11-01T15:46:26.304+02:00,100percentfedup.com,US,25689.0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,0.068,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias
4,0206b54719c7e241ffe0ad4315b808290dbe6c0f,0,Fed Up,2016-11-01T21:56:00.000+02:00,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,english,2016-11-01T23:59:42.266+02:00,100percentfedup.com,US,25689.0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,0.865,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias

In [41]:
fake_kaggle_2.type.value_counts()

bs            11492
bias            443
conspiracy      430
hate            246
satire          146
state           121
junksci         102
fake             19
Name: type, dtype: int64

In [42]:
fake_kaggle_2.site_url.value_counts()

zerohedge.com              100
disclose.tv                100
greanvillepost.com         100
govtslaves.info            100
rinf.com                   100
                          ...
ncscooper.com                1
truthandaction.org           1
truthfrequencyradio.com      1
ufoholic.com                 1
miniplanet.us                1
Name: site_url, Length: 244, dtype: int64

In [43]:
fake_kaggle_2 = fake_kaggle_2[['title','text']]

fake_kaggle_2['all_text'] = fake_kaggle_2['title'] + ' ' + fake_kaggle_2['text']

fake_kaggle_2['label'] = 1

fake_kaggle_2.drop(columns=['title','text'],inplace=True)

In [44]:
fake_kaggle_2

                                                all_text  label
0      Muslims BUSTED: They Stole Millions In Gov’t B...      1
1      Re: Why Did Attorney General Loretta Lynch Ple...      1
2      BREAKING: Weiner Cooperating With FBI On Hilla...      1
3      PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...      1
4      FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...      1
...                                                  ...    ...
12994                                                NaN      1
12995                                                NaN      1
12996                                                NaN      1
12997                                                NaN      1
12998                                                NaN      1

[12999 rows x 2 columns]

In [45]:
fake_kaggle_2.all_text.is_unique

False

In [46]:
fake_kaggle_2.drop_duplicates(inplace = True)

fake_kaggle_2.reset_index(inplace=True,drop=True)

fake_kaggle_2.shape

(12170, 2)

In [47]:
fake_kaggle_2

                                                all_text  label
0      Muslims BUSTED: They Stole Millions In Gov’t B...      1
1      Re: Why Did Attorney General Loretta Lynch Ple...      1
2      BREAKING: Weiner Cooperating With FBI On Hilla...      1
3      PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...      1
4      FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...      1
...                                                  ...    ...
12165  Tesla Earnings Smash Expectations After Dramat...      1
12166  Rules For Rulers (Or How The World Really Work...      1
12167  Fact Check: Trump Is Right that Clinton Might ...      1
12168  Caught On Tape: ISIS Destroys Iraqi Abrams Wit...      1
12169  ObamaCare Architect Admits "The Law Is Working...      1

[12170 rows x 2 columns]

##### 4. NBC fake news russian troll twitter news data - USED
https://www.kaggle.com/datasets/vikasg/russian-troll-tweets

In [48]:
# read in the fake an real news data

nbc_troll_data = pd.read_csv(f'{current_dir }/data_fake_news/nbc_russian_troll/tweets.csv')

In [49]:
nbc_troll_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203482 entries, 0 to 203481
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   user_id                195417 non-null  float64
 1   user_key               203482 non-null  object
 2   created_at             203461 non-null  float64
 3   created_str            203461 non-null  object
 4   retweet_count          58083 non-null   float64
 5   retweeted              58083 non-null   object
 6   favorite_count         58083 non-null   float64
 7   text                   203461 non-null  object
 8   tweet_id               201168 non-null  float64
 9   source                 58084 non-null   object
 10  hashtags               203482 non-null  object
 11  expanded_urls          203482 non-null  object
 12  posted                 203482 non-null  object
 13  mentions               203482 non-null  object
 14  retweeted_status_id    39651 non-null   float64
 15  in_reply_to_status_id  559 non-null     float64
dtypes: float64(7), object(9)
memory usage: 24.8+ MB

In [50]:
nbc_troll_data.head()

,user_id,user_key,created_at,created_str,retweet_count,retweeted,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,7.123460e+17,NaN,"[""IslamKills""]",[],POSTED,[],NaN,NaN
1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",7.855849e+17,"<a href=""http://twitterfeed.com"" rel=""nofollow...",[],"[""http://detne.ws/2e172jF""]",POSTED,[],NaN,NaN
2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,8.343832e+17,NaN,[],[],POSTED,[],NaN,NaN
3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,8.134006e+17,NaN,"[""ChristmasAftermath""]",[],POSTED,[],NaN,NaN
4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,8.940243e+17,NaN,[],[],POSTED,[],NaN,NaN

In [51]:
nbc_troll_data = nbc_troll_data[['text']]
nbc_troll_data['label'] = 1

In [52]:
nbc_troll_data.rename(columns={"text": "all_text"}, inplace=True)

In [53]:
nbc_troll_data

                                                 all_text  label
0       #IslamKills Are you trying to say that there w...      1
1       Clinton: Trump should’ve apologized more, atta...      1
2       RT @ltapoll: Who was/is the best president of ...      1
3       RT @jww372: I don't have to guess your religio...      1
4       RT @Shareblue: Pence and his lawyers decided w...      1
...                                                   ...    ...
203477  RT @AndreaChalupa: In intel circles, the story...      1
203478  RT @KansasCityDNews: Tonganoxie police: Middle...      1
203479  RT @signsinyork: Getting the right #company lo...      1
203480  The Latest: Obama affirms continuity of ties w...      1
203481  RT @futureguru100: U cant just Upload a CD onl...      1

[203482 rows x 2 columns]

In [54]:
nbc_troll_data.all_text.is_unique

False

In [55]:
nbc_troll_data.drop_duplicates(inplace = True)
nbc_troll_data.reset_index(inplace=True,drop=True)
nbc_troll_data.shape

(175215, 2)

##### 5. Kaggle 3 news data - NOT USED
https://www.kaggle.com/datasets/jruvika/fake-news-detection

1 - reliable

0 - unreliable

In [45]:
# read in the fake an real news data

fake_kaggle_3 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_3_news_dataset/data.csv')

In [46]:
fake_kaggle_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URLs      4009 non-null   object
 1   Headline  4009 non-null   object
 2   Body      3988 non-null   object
 3   Label     4009 non-null   int64
dtypes: int64(1), object(3)
memory usage: 125.4+ KB

In [47]:
fake_kaggle_3.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [48]:
fake_kaggle_3.Label.value_counts()

0    2137
1    1872
Name: Label, dtype: int64

In [49]:
fake_kaggle_3['all_text'] = fake_kaggle_3['Headline'] + ' ' + fake_kaggle_3['Body']
fake_kaggle_3.drop(columns=['URLs','Headline','Body'], inplace=True )

In [50]:
fake_kaggle_3

      Label                                           all_text
0         1  Four ways Bob Corker skewered Donald Trump Ima...
1         1  Linklater's war veteran comedy speaks to moder...
2         1  Trump’s Fight With Corker Jeopardizes His Legi...
3         1  Egypt's Cheiron wins tie-up with Pemex for Mex...
4         1  Jason Aldean opens 'SNL' with Vegas tribute Co...
...     ...                                                ...
4004      0  Trends to Watch Trends to Watch\n% of readers ...
4005      0  Trump Jr. Is Soon To Give A 30-Minute Speech F...
4006      0                                                NaN
4007      1  China to accept overseas trial data in bid to ...
4008      0  Vice President Mike Pence Leaves NFL Game Beca...

[4009 rows x 2 columns]

In [51]:
fake_kaggle_3.all_text.is_unique

False

In [52]:
fake_kaggle_3.drop_duplicates(inplace = True)
fake_kaggle_3.dropna(inplace = True)
fake_kaggle_3.shape

(3522, 2)

In [53]:
fake_kaggle_3['label'] = np.where(fake_kaggle_3['Label'] == 1, 0, 1)

In [54]:
fake_kaggle_3.drop(columns='Label',inplace=True)

In [55]:
fake_kaggle_3

                                               all_text  label
0     Four ways Bob Corker skewered Donald Trump Ima...      0
1     Linklater's war veteran comedy speaks to moder...      0
2     Trump’s Fight With Corker Jeopardizes His Legi...      0
3     Egypt's Cheiron wins tie-up with Pemex for Mex...      0
4     Jason Aldean opens 'SNL' with Vegas tribute Co...      0
...                                                 ...    ...
4002  The price tag for Pence's trip to Indianapolis...      0
4003  CNN and Globalist Exposed - Steve Quayle and A...      1
4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...      1
4007  China to accept overseas trial data in bid to ...      0
4008  Vice President Mike Pence Leaves NFL Game Beca...      1

[3522 rows x 2 columns]

1: unreliable
0: reliable

##### 6. Kaggle 4 news data - NOT USED
https://www.kaggle.com/datasets/hassanamin/textdb3

In [56]:
# read in the fake an real news data

fake_kaggle_4 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_4_news_dataset/fake_or_real_news.csv')

In [57]:
fake_kaggle_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [58]:
fake_kaggle_4.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [59]:
fake_kaggle_4['all_text'] = fake_kaggle_4['title'] + ' ' + fake_kaggle_4['text']

In [60]:
fake_kaggle_4['label_new'] = np.where(fake_kaggle_4['label'] == 'FAKE',1,0)

fake_kaggle_4.drop(columns=['Unnamed: 0', 'title', 'text', 'label'], inplace= True)

fake_kaggle_4.rename(columns={"label_new": "label"}, inplace=True)

In [61]:
fake_kaggle_4

                                               all_text  label
0     You Can Smell Hillary’s Fear Daniel Greenfield...      1
1     Watch The Exact Moment Paul Ryan Committed Pol...      1
2     Kerry to go to Paris in gesture of sympathy U....      0
3     Bernie supporters on Twitter erupt in anger ag...      1
4     The Battle of New York: Why This Primary Matte...      0
...                                                 ...    ...
6330  State Department says it can't find emails fro...      0
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      1
6332  Anti-Trump Protesters Are Tools of the Oligarc...      1
6333  In Ethiopia, Obama seeks progress on peace, se...      0
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...      0

[6335 rows x 2 columns]

##### 7. Kaggle 5 covid news article data - NOT USED - UNLABELED
https://www.kaggle.com/datasets/jannalipenkova/covid19-public-media-dataset

In [62]:
# read in the fake an real news data

fake_kaggle_5 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_5_news_dataset/covid19_articles_20201231.csv')

In [63]:
fake_kaggle_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369047 entries, 0 to 369046
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   author      181799 non-null  object
 1   date        369047 non-null  object
 2   domain      369047 non-null  object
 3   title       368962 non-null  object
 4   url         369047 non-null  object
 5   content     369047 non-null  object
 6   topic_area  369047 non-null  object
dtypes: object(7)
memory usage: 19.7+ MB

In [64]:
fake_kaggle_5.head()

,author,date,domain,title,url,content,topic_area
0,Thomas Hughes,2020-01-02,marketbeat,Three Industrial Giants You Should Own In 2020,https://www.marketbeat.com/originals/three-ind...,With the end of the year just around the corne...,business
1,Thomas Hughes,2020-01-03,marketbeat,Labor Stocks Are Going To Break Out In 2020,https://www.marketbeat.com/originals/labor-sto...,The labor markets were one of the most closely...,business
2,Steve Anderson,2020-01-03,marketbeat,"Tesla (TSLA) Breaks Shipment Record, Beats Est...",https://www.marketbeat.com/originals/teal-brea...,"It could be forgiven, that some might think th...",business
3,Roberto Torres,2020-01-03,ciodive,"On the road to AI adoption, execs grapple with...",https://www.ciodive.com/news/ai-adoption-execs...,CIOs kicked off 2019 with AI as an item to wat...,tech
4,Alden Wicker,2020-01-06,instyle,Red Carpet Sustainability After Coronavirus Sh...,https://www.instyle.com/fashion/red-carpet-cor...,When the coronavirus pandemic is over and life...,consumer

##### 8. Kaggle 6 covid news article data - NOT USED
https://www.kaggle.com/datasets/elvinagammed/covid19-fake-news-dataset-nlp?select=Constraint_Train.csv

In [69]:
# read in the fake an real news data

fake_kaggle_6 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_6_news_dataset/Constraint_Train.csv')

In [70]:
fake_kaggle_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6420 non-null   int64
 1   tweet   6420 non-null   object
 2   label   6420 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.6+ KB

In [71]:
fake_kaggle_6['label_new'] = np.where(fake_kaggle_6['label'] == 'fake',1,0)

fake_kaggle_6.drop(columns=['id', 'label'], inplace= True)

fake_kaggle_6.rename(columns={"label_new": "label", "tweet": "all_text"}, inplace=True)

In [72]:
fake_kaggle_6

                                               all_text  label
0     The CDC currently reports 99031 deaths. In gen...      0
1     States reported 1121 deaths a small rise from ...      0
2     Politically Correct Woman (Almost) Uses Pandem...      1
3     #IndiaFightsCorona: We have 1524 #COVID testin...      0
4     Populous states can generate large case counts...      0
...                                                 ...    ...
6415  A tiger tested positive for COVID-19 please st...      1
6416  ???Autopsies prove that COVID-19 is??� a blood...      1
6417  _A post claims a COVID-19 vaccine has already ...      1
6418  Aamir Khan Donate 250 Cr. In PM Relief Cares Fund      1
6419  It has been 93 days since the last case of COV...      0

[6420 rows x 2 columns]

##### 9. Kaggle 7 news article data - USED 
https://www.kaggle.com/datasets/pnkjgpt/fake-news-dataset?select=train.csv

In [56]:
# read in the fake an real news data

fake_kaggle_7 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_7_news_dataset/train.csv')

In [57]:
fake_kaggle_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       40000 non-null  int64
 1   title       40000 non-null  object
 2   text        40000 non-null  object
 3   subject     40000 non-null  object
 4   date        40000 non-null  object
 5   class       40000 non-null  object
 6   Unnamed: 6  1 non-null      object
dtypes: int64(1), object(6)
memory usage: 2.1+ MB

In [58]:
fake_kaggle_7.head()

,index,title,text,subject,date,class,Unnamed: 6
0,0,PRESIDENT TRUMP Explains New “America First” R...,That s what we re talking about! Another campa...,politics,"Aug 2, 2017",Fake,NaN
1,1,TERMINALLY ILL FORMER MISS WI: “Until my last ...,How is it that Sean Hannity is the only media ...,politics,"Oct 4, 2016",Fake,NaN
2,2,Cruz Humiliated By Moderator After Lie About ...,Almost immediately after learning that longtim...,News,"February 13, 2016",Fake,NaN
3,3,"Russia revels in Trump victory, looks to sanct...",MOSCOW (Reuters) - For all their mutual praise...,politicsNews,"November 9, 2016",Real,NaN
4,4,Trump's bid to open U.S. monuments to developm...,WASHINGTON (Reuters) - The Trump administratio...,politicsNews,"May 26, 2017",Real,NaN

In [59]:
fake_kaggle_7['all_text'] = fake_kaggle_7['title'] + ' ' + fake_kaggle_7['text']

fake_kaggle_7['label'] = np.where(fake_kaggle_7['class'] == 'Fake',1,0)

fake_kaggle_7.drop(columns=['index', 'title', 'text', 'subject', 'date', 'class', 'Unnamed: 6'], inplace= True)

fake_kaggle_7.rename(columns={"label_new": "label", "tweet": "text"}, inplace=True)

In [60]:
fake_kaggle_7

                                                all_text  label
0      PRESIDENT TRUMP Explains New “America First” R...      1
1      TERMINALLY ILL FORMER MISS WI: “Until my last ...      1
2       Cruz Humiliated By Moderator After Lie About ...      1
3      Russia revels in Trump victory, looks to sanct...      0
4      Trump's bid to open U.S. monuments to developm...      0
...                                                  ...    ...
39995  U.S. officials step up rhetoric on Russia link...      0
39996   McDonald’s Manager To Hispanic Customer: ‘Can...      1
39997  SMUG LIBERAL LAW PROFESSOR SHUT DOWN BY TUCKER...      1
39998  Robert Parry: Sorting Out the Russia Mess Cons...      1
39999  Israeli missiles hit military post near Damasc...      0

[40000 rows x 2 columns]

##### 10. Kaggle 8 US real news article data - USED
https://www.kaggle.com/datasets/snapcrack/all-the-news?select=articles3.csv

In [61]:
fake_kaggle_8 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_8_news_dataset/all-the-news-2-1.csv',low_memory=False)

In [62]:
fake_kaggle_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688879 entries, 0 to 2688878
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   Unnamed: 0.1  object
 2   date          object
 3   year          object
 4   month         float64
 5   day           object
 6   author        object
 7   title         object
 8   article       object
 9   url           object
 10  section       object
 11  publication   object
dtypes: float64(1), int64(1), object(10)
memory usage: 246.2+ MB

In [63]:
fake_kaggle_8.head()

,Unnamed: 0,Unnamed: 0.1,date,year,month,day,author,title,article,url,section,publication
0,0,0,2016-12-09 18:31:00,2016,12.0,9,Lee Drutman,We should take concerns about the health of li...,"This post is part of Polyarchy, an independent...",https://www.vox.com/polyarchy/2016/12/9/138983...,NaN,Vox
1,1,1,2016-10-07 21:26:46,2016,10.0,7,Scott Davis,Colts GM Ryan Grigson says Andrew Luck's contr...,The Indianapolis Colts made Andrew Luck the h...,https://www.businessinsider.com/colts-gm-ryan-...,NaN,Business Insider
2,2,2,2018-01-26 00:00:00,2018,1.0,26,NaN,Trump denies report he ordered Mueller fired,"DAVOS, Switzerland (Reuters) - U.S. President ...",https://www.reuters.com/article/us-davos-meeti...,Davos,Reuters
3,3,3,2019-06-27 00:00:00,2019,6.0,27,NaN,France's Sarkozy reveals his 'Passions' but in...,PARIS (Reuters) - Former French president Nico...,https://www.reuters.com/article/france-politic...,World News,Reuters
4,4,4,2016-01-27 00:00:00,2016,1.0,27,NaN,Paris Hilton: Woman In Black For Uncle Monty's...,Paris Hilton arrived at LAX Wednesday dressed ...,https://www.tmz.com/2016/01/27/paris-hilton-mo...,NaN,TMZ

In [64]:
fake_kaggle_8 = fake_kaggle_8[['year','title','article','publication']]

In [65]:
fake_kaggle_8.publication.value_counts()

Reuters               840094
The New York Times    252259
CNBC                  238096
The Hill              208411
People                136488
CNN                   127602
Refinery 29           111433
Vice                  101137
Mashable               94107
Business Insider       57953
The Verge              52424
TechCrunch             52095
TMZ                    49595
Axios                  47815
Vox                    47272
Politico               46377
Washington Post        40882
Buzzfeed News          32819
Gizmodo                27228
Economist              26227
Wired                  20243
Fox News               20144
Vice News              15539
Hyperallergic          13551
New Republic           11809
New Yorker              4701
Name: publication, dtype: int64

In [66]:
semi_supervised_1 = fake_kaggle_8[fake_kaggle_8['publication'] != 'Reuters']

In [67]:
semi_supervised_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1848785 entries, 0 to 2688878
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   title        object
 2   article      object
 3   publication  object
dtypes: object(4)
memory usage: 70.5+ MB

In [68]:
fake_kaggle_8 = fake_kaggle_8[fake_kaggle_8['publication'] == 'Reuters']

In [69]:
fake_kaggle_8['all_text'] = fake_kaggle_8['title'] + ' ' + fake_kaggle_8['article']

In [70]:
fake_kaggle_8.drop(columns=['year','title','article','publication'],inplace=True)

In [71]:
fake_kaggle_8['label'] = 0

In [72]:
fake_kaggle_8

                                                  all_text  label
2        Trump denies report he ordered Mueller fired D...      0
3        France's Sarkozy reveals his 'Passions' but in...      0
5        ECB's Coeure: If we decide to cut rates, we'd ...      0
6        Venezuela detains six military, police officia...      0
11       Hudson's Bay's chairman's buyout bid pits reta...      0
...                                                    ...    ...
2672084  REFILE-Italy's top bank unveils new lending me...      0
2672085  Malaysia says may extend movement curbs, to ad...      0
2672086  BRIEF-Diriteks Dirilis FY Net Loss Deepens To ...      0
2672087  No more dumb coronavirus questions, Berlin pol...      0
2672088  BRIEF-Saudi Chemical FY Profit Falls March 26 ...      0

[840094 rows x 2 columns]

In [111]:
fake_kaggle_8.to_csv('fake_kaggle_8.csv')

In [112]:
semi_supervised_1.to_csv('semi_supervised_1.csv')

In [114]:
fake_kaggle_8_new = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_8_news_dataset/fake_kaggle_8.csv', low_memory=False)

In [116]:
fake_kaggle_8

                                                  all_text  label
2        Trump denies report he ordered Mueller fired D...      0
3        France's Sarkozy reveals his 'Passions' but in...      0
5        ECB's Coeure: If we decide to cut rates, we'd ...      0
6        Venezuela detains six military, police officia...      0
11       Hudson's Bay's chairman's buyout bid pits reta...      0
...                                                    ...    ...
2672084  REFILE-Italy's top bank unveils new lending me...      0
2672085  Malaysia says may extend movement curbs, to ad...      0
2672086  BRIEF-Diriteks Dirilis FY Net Loss Deepens To ...      0
2672087  No more dumb coronavirus questions, Berlin pol...      0
2672088  BRIEF-Saudi Chemical FY Profit Falls March 26 ...      0

[840094 rows x 2 columns]

##### 10. Kaggle 9 news article data - NOT USED
https://www.kaggle.com/datasets/ruchi798/source-based-news-classification

In [117]:
# read in the fake an real news data

fake_kaggle_9 = pd.read_csv(f'{current_dir }/data_fake_news/kaggle_9_news_dataset/news_articles.csv')

In [118]:
fake_kaggle_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096 entries, 0 to 2095
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   author                   2096 non-null   object
 1   published                2096 non-null   object
 2   title                    2096 non-null   object
 3   text                     2050 non-null   object
 4   language                 2095 non-null   object
 5   site_url                 2095 non-null   object
 6   main_img_url             2095 non-null   object
 7   type                     2095 non-null   object
 8   label                    2095 non-null   object
 9   title_without_stopwords  2094 non-null   object
 10  text_without_stopwords   2046 non-null   object
 11  hasImage                 2095 non-null   float64
dtypes: float64(1), object(11)
memory usage: 196.6+ KB

In [119]:
fake_kaggle_9.head()

,author,published,title,text,language,site_url,main_img_url,type,label,title_without_stopwords,text_without_stopwords,hasImage
0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,muslims busted they stole millions in govt ben...,print they should pay all the back all the mon...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,muslims busted stole millions govt benefits,print pay back money plus interest entire fami...,1.0
1,reasoning with facts,2016-10-29T08:47:11.259+03:00,re why did attorney general loretta lynch plea...,why did attorney general loretta lynch plead t...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,attorney general loretta lynch plead fifth,attorney general loretta lynch plead fifth bar...,1.0
2,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,breaking weiner cooperating with fbi on hillar...,red state \nfox news sunday reported this mor...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,breaking weiner cooperating fbi hillary email ...,red state fox news sunday reported morning ant...,1.0
3,Fed Up,2016-11-01T05:22:00.000+02:00,pin drop speech by father of daughter kidnappe...,email kayla mueller was a prisoner and torture...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,pin drop speech father daughter kidnapped kill...,email kayla mueller prisoner tortured isis cha...,1.0
4,Fed Up,2016-11-01T21:56:00.000+02:00,fantastic trumps point plan to reform healthc...,email healthcare reform to make america great ...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,fantastic trumps point plan reform healthcare ...,email healthcare reform make america great sin...,1.0

In [120]:
fake_kaggle_9['all_text'] = fake_kaggle_9['title_without_stopwords'] + ' ' + fake_kaggle_9['text_without_stopwords']

In [121]:
fake_kaggle_9 = fake_kaggle_9[['all_text','label']]

In [122]:
fake_kaggle_9['label'].value_counts()

Fake    1294
Real     801
Name: label, dtype: int64

In [123]:
fake_kaggle_9['label_new'] = np.where(fake_kaggle_9['label'] == 'Fake',1,0)

fake_kaggle_9.dropna(inplace=True)

fake_kaggle_9.drop(columns=('label'), inplace=True)

fake_kaggle_9.rename(columns={"label_new": "label"}, inplace=True)

In [124]:
fake_kaggle_9

                                               all_text  label
0     muslims busted stole millions govt benefits pr...      0
1     attorney general loretta lynch plead fifth att...      0
2     breaking weiner cooperating fbi hillary email ...      0
3     pin drop speech father daughter kidnapped kill...      0
4     fantastic trumps point plan reform healthcare ...      0
...                                                 ...    ...
2041  trump vs clinton risk vs disaster check hillar...      0
2042  gingrich slutshames megyn kelly good samaritan...      0
2043  youtube bans clintons black son skype sex scam...      0
2044  wikileaks bombshells hillary need know posted ...      0
2045  fascinated sex billion even known keeping supp...      0

[2045 rows x 2 columns]

### Step 1.2 Combine all dataframes

In [73]:
pd_list = [train_kaggle_1, fake_kaggle_2, fake_kaggle_7, fake_kaggle_8, data_vic, nbc_troll_data]  # List of our dataframes
all_labeled_data = pd.concat(pd_list).reset_index(drop = True)

In [74]:
all_labeled_data.head()

   label                                           all_text
0      1  House Dem Aide: We Didn’t Even See Comey’s Let...
1      0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2      1  Why the Truth Might Get You Fired Why the Trut...
3      1  15 Civilians Killed In Single US Airstrike Hav...
4      1  Iranian woman jailed for fictional unpublished...

In [75]:
all_labeled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126718 entries, 0 to 1126717
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   label     1126718 non-null  int64
 1   all_text  1111757 non-null  object
dtypes: int64(1), object(1)
memory usage: 17.2+ MB

### Step 2. Preprocess the text data

In [76]:
all_labeled_data.dropna(inplace=True)

In [77]:
all_labeled_data.drop_duplicates(inplace = True)

In [78]:
all_labeled_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 977567 entries, 0 to 1126717
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   label     977567 non-null  int64
 1   all_text  977567 non-null  object
dtypes: int64(1), object(1)
memory usage: 22.4+ MB

In [ ]:
all_labeled_data.to_csv('all_labeled_data_unprocessed.csv')

OLD

Import data to mysql

Given the dataframe we have created above we will now seek to read the data into an sql database so that it can be accessed by anyone.

In [ ]:
# create sqlalchemy engine with the login characteristics 
'''engine = create_engine("mysql+pymysql://{user}:{pw}@news-data-rdb.cqsnaejqwcpu.ap-southeast-2.rds.amazonaws.com/{db}"
                       .format(user='admin',
                         pw='badpassword1',
                         db='NewsData'))'''

In [ ]:
# Insert the whole DataFrame into MySQL
#processed_news_data.to_sql('labeled_news_data', con = engine, index = False, if_exists = 'append', chunksize = 10000)